*{
    margin: 0;
}

.contianer{
    height: 800px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator{
    width: 800px;
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
}

.blankSpace{
    width: 50%;
    height: 10%;
    border: black solid;
    border-bottom: 0;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 50px;
    overflow: hidden;
}

.buttonContainer{
    border: black solid;
    width: 50%;
    height: 85%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.calcButton{
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 75px;
    height: 75px;
    border: black solid;
    border-radius: 100%;
}
#equals{
    width: calc(75px * 2 + 4px); 
    height: 75px; 
    margin: 2px; 
    border-radius: 100%; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}